In [2]:
import numpy as np
import pandas as pd
import math
import sklearn

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelBinarizer
from sklearn.metrics import mean_squared_error

In [3]:
cd = pd.read_csv("https://bitbucket.org/remcc/rob-data-sets/downloads/susedcars.csv")
cd = cd[['price','mileage','color']]
cd['price'] = cd['price']/1000
cd['mileage'] = cd['mileage']/1000
cd.head()

    price  mileage   color
0  43.995   36.858  Silver
1  44.995   46.883   Black
2  25.999  108.759   White
3  33.880   35.187   Black
4  34.895   48.153   Black